html{
    background-color:darkslategrey;
}

.grancaja{
    width: 90%;
}

.horizonte{
   display: flex;
   margin: 0px;
   width: 90%; 
   background-size: 100%;
}

.punto-informacion:nth-child(1){
    background-image: url("http://4.bp.blogspot.com/-xTEjs5Vi4v4/UD-RT2y9eFI/AAAAAAAAi30/vwfksN9fKvE/s1600/Perro-Pitbull_Fondos-de-Pantalla-HD-de-Perros.jpg");
    background-size: 100% 150%;
    width: 50%;
    background-repeat: no-repeat;
    padding: 120px;
}

.punto-informacion:nth-child(1) p{
    margin: 0px;
    padding: 0px;
}

.punto-informacion:nth-child(2){
    background-image: url("https://www.cookieswil.com/media/blog/870x/min/4967-204423-labrador-retrevier.jpg"); 
    background-size: 100% 150%;
    color: coral;
    width: 50%;
    background-repeat: no-repeat;
    padding: 120px;
   
}

.horizonte div{
    margin-top: 15px;
    margin: 10px;
    height: 30vh;
    padding-right: 7px;
    
}

.punto-informacion div{
    margin-right: 100px;
    width: 250px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.horizonte .punto-informacion div a{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
    font-size: 20px;
}

.horizonte .punto-informacion div p{
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    font-size:1.2rem;
    text-align: left;
    padding-left: 0px;
    padding-bottom:4px;
    margin-top: 290px;
    
    
}

.punto-informacion{
    margin: 0px;
    padding: 0px;
    justify-content: left;
    padding-left: 250px;

}

.texto p{
   justify-content: left; 
}
